/* weather.css */

/* Set the background image */
body {
    /* image url:https://www.vecteezy.com/vector-art/21698894-cute-blue-sky-background-with-paper-cut-clouds-3d-sun-and-rain-drops-garland Credit: Olga Zuevskaya */
    background-image: url('/static/clouds.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}


.card {
    margin-top: 100px;
}
